html, body {
    height: 100%;
}

#app {
    position: relative;
    height: 100%;
    .page {
        @include flexBox(column, flex-start, flex-start);
        @include boxSizing;
        width: 100%;
        height: 100%;
    }
}